{% extends "lists/base.html" %}

{% block title %}
ToDo Folder App
{% endblock %}

{% block content %}

<div class="mx-4 md:mx-32 my-16 bg-white shadow p-8 px-8 rounded-sm">
    <div class="header">
        <ul id="mainmenu" class="mainmenu">
            <li class="logo"><a href=""></a></li>
            <li class="last"><a href="register/">Регистрация</a> | <a href="login/">Войти</a></li>
        </ul>
        <div class="clear"></div>
    </div>
</div>

<div x-data="getFolders()" class="mx-4 md:mx-32 my-16 bg-white shadow p-8 px-8 rounded-sm">
    <h2 class="text-green-500 font-black text-2xl uppercase text-center">{{ request.user.username }}'s Folders</h2>
    <form id="list-form">
        {% csrf_token %}
    </form>
    <div class="flex justify-end mt-4">
        <div class="rounded-md border shadow p-2 flex-1 inline-flex">
            <input x-model="newFolder" class="mr-2 w-5/6" type="text" placeholder="new folder">
            <button @click="addFolder(newFolder)" type="button" class="w-1/6 border px-2 py-1 font-mono text-sm bg-green-400
                    hover:bg-green-500 active:bg-green-700 text-gray-100">Add Folder
            </button>
        </div>
    </div>

    <ul class="mt-4">
        <template x-for="folder in folders">
            <li class="bg-gray-100 border border-gray-300 rounded-md shadow-sm p-2 px-4 my-2 flex justify-between">
                <a
                        x-text="folder.title"
                        x-bind:href="'/folder/'+folder.id"
                        class="border border-gray-100 text-green-800 font-mono px-2 py-1 hover:text-green-500"></a>
                <button @click="removeFolder(folder.id)"
                        class="border px-2 py-1 font-mono text-sm bg-red-400 hover:bg-red-500 text-gray-100">
                    Delete List
                </button>
            </li>
        </template>
    </ul>

</div>

<script>
const getFolders = () => {
    return {
                newFolder: "",
        folders: [
            {% for f in folders %}
            { 'title': '{{ f.title }}', 'id': '{{ f.id }}' },
            {% endfor %}
        ]
    }
};

const csrftoken = document.querySelector('#list-form > input').value;

const addFolder = async title => {
    try {
    const res = await axios.post('/api/folders/',
        { title },
        { headers: { 'X-CSRFToken': csrftoken }}
        );
    location.reload();
      } catch (e) {
        console.error(e);
      }
};

const removeFolder = async folderId => {
    try {
    const res = await axios.delete('/api/folders/' + folderId + '/',
        { headers: { 'X-CSRFToken': csrftoken }}
        );
    location.reload();
      } catch (e) {
        console.error(e);
      }
};
</script>

{% endblock %}